{
	"inspectTemplate": {
		"displayName": "Config to Inspect Additional Details Column",
		"description": "Inspect template for built in info types EMAIL_ADDRESS, PHONE_NUMBER, IBAN_CODE and custom Info type ONLINE_USER_ID",
		"inspectConfig": {
			"infoTypes": [
				{
					"name": "IBAN_CODE"
				},
				{
					"name": "EMAIL_ADDRESS"
				},
				{
					"name": "PHONE_NUMBER"
				}
			],
			"minLikelihood": "LIKELY",
			"customInfoTypes": [
				{
					"infoType": {
						"name": "ONLINE_USER_ID"
					},
					"regex": {
						"pattern": "\\b:\\d{16}"
					}
				}
			]
		}
	},
	"templateId": "dlp-demo-inspect-latest-%s"
}
