{
	"deidentifyTemplate": {
		"displayName": "Config to ReIdentify Sample Dataset",
		"description": "Used to re-identify Card Number and Card Holder's Name",
		"deidentifyConfig": {
			"recordTransformations": {
				"fieldTransformations": [
					{
						"fields": [
							{
								"name": "Card Holder's Name"
							},
							{
								"name": "Card Number"
							}
						],
						"primitiveTransformation": {
							"cryptoDeterministicConfig": {
								"cryptoKey": {
									"kmsWrapped": {
										"wrappedKey":%s,
										"cryptoKeyName":%s
									}
								}
							}
						}
					}
				]
			}
		}
	},
	"templateId": "dlp-demo-reid-latest-%s"
}